ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul > * {
	display: inline;
}
.search {
	float: right;
}
table {
	text-align: center;
	width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.current {
	text-decoration: none;
	background-color: #ddd;
}

.pg {
	margin-top: 1em;
}

.pg a {
	font-size: 2em;
	text-decoration: none;
	color: black;
	padding: 8px 16px;
}

.pg a:hover:not(.active) {background-color: #ddd;}
