{{if not .Circle}} 
Circle not found.
{{else}}

<!DOCTYPE html>
<html>
	<head>
		<title>{{ (index .Circle 0).Name }}</title>
		<link rel="stylesheet" href="assets/style.css">
	</head>
	<body>
		<header>
			<a src="/" id="logo">Sanic Information Highway</a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<article>
			<h1>{{ (index .Circle 0).Name }}</h1>
			<p>Website: {{ (index .Circle 0).Website }}</p>
		</article>
		<article>
			<h1>Eroge</h1>
			{{ range .Ero }}
			<p><a href="/ero?id={{.ID}}">{{ .Title }}</a></p>
			{{ end }}
		</article>
	</body>
</html>
{{end}} 

