{{if not .Ero}} 
Eroge not found.
{{else}}

<!DOCTYPE html>
<html>
	<head>
		<title>{{ (index .Ero 0).Title }}</title>
		<link rel="stylesheet" href="assets/style.css">
	</head>
	<body>
		<header>
			<a src="/" id="logo">Sanic Information Highway</a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<article>
			<h1>{{ (index .Ero 0).Title }}</h1>
			<p>Made by {{ (index .Ero 0).CircleName }}</p>
			{{ range (index .Ero 0).Images }}
				<img src="{{.}}"/>
			{{end}}
			<h3>Tags</h3>
			{{ range .Tags }}
				<span>{{.}}</span>
			{{end}}
		</article>
	</body>
</html>
{{end}} 

